<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Sorry,小雨！ - 阙英龙博客</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css">
  <link href="__STATIC__/index/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.__STATIC__/index/js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
     {include file="Public/nav" /}
   </header>
   <section>
    <div class="container">
      <div class="row">
        <main class="col-md-12">
          <article class="article  well mt">
            <p>小雨：</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对不起！我真的深刻认识到自己的作为是那么的愚蠢、无知。明明知道会伤了你的心，触动你的底线,却还这样做。你删了我也是我自己愚蠢的自作自受,就该接受这惩罚。小雨我真的知道错了,可以给我一次认错机会吗？你想怎样惩罚我都可以,只要你原谅我。我以后都不会再做令你不开心的事了,如果再有发生我保证不会再出现你的生活里。我们做回朋友好么？</p>
            <p style="float: right;">英龙</p>
            <p></p>
            <img src="__STATIC__/index/images/Sorry.jpg" style="max-width: 100%;border-radius: 5px;">
            <div style="height: 86">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=34040691&auto=1&height=66"></iframe>
            </div>
            </audio>
          </article>
        </main>
      </div>
    </div>
  </section>
  {include file="Public/footer" /}
</body>
</html>