<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="__STATIC__/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="__STATIC__/admin/css/admin.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/insert.css">
  <script src="__STATIC__/admin/js/jquery-3.1.1.min.js"></script>
  <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
  <script src="__STATIC__/admin/js/admin.min.js"></script>
</head>
<body>
  {include file="Public/nav" /}
  <div class="content">
    <ol class="breadcrumb">
      <li><a href="{:url('admin/Index/index')}">主页</a></li>
      <li><a href="{:url('admin/Admin/admin')}">管理员管理</a></li>
      <li class="active">修改管理员</li>
    </ol>
    <div class="result">
      <form action="" method="post">
        <input type="hidden" name="id" value="$adm.id">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>管理员名称</td>
              <td><input type="text" class="form-control" name="username" value="{$adm.username}"></td>
            </tr>
            <tr>
              <td>密码</td>
              <td><input type="text" class="form-control" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="submit" class="btn btn-default">添加</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div> 
  </div>
</body>
</html>
